/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  list-style-type: none;
}
body {
  background-color: #800080;
}

.logo a {
  font-size: 2rem;
  line-height: 1.9;
  margin: auto;
  display: block;
  text-align: center;
  align-items: center;
}
input {
  margin: 15px 0;
  width: 100%;
}

input[type="text"]:focus {
  background-color: #e9e5e5;
}
input[type="text"] {
  background-color: #d8bfd8;
  padding: 8px;

  padding-left: 40px;
  border-radius: 6px;
}

i {
  color: #800080;
  font-size: 2rem;
}
/* navbar */

.navbar {
  padding: 20px 10px;
}
.icons {
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar > * {
  margin-left: 10px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.icons {
  justify-content: space-evenly;
}

/* main content */
.middle-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 1rem;
  gap: 1rem;
  border-radius: 10px;
}

.middle-container > div {
  border-radius: 10px;
}

/* sidebar */
.sidebar {
  background-color: #fff;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  border: 1px solid #d9d9d9;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #fff;
  color: #000;
}

.sidebar a:hover:not(.active) {
  color: #000;
}

.goal-items i {
  padding: 10px;
  width: 70px;
}

.button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 120px;

  justify-content: end;
}

/* Bordered form */
form {
  width: 50%;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  border: 3px solid #d8bfd8;
}

/* Full-width inputs */
input[type="password"] {
  margin-top: 20px;
  background-color: #d8bfd8;
  padding: 8px;

  padding-left: 40px;
  border-radius: 6px;
}
label {
  padding-top: 15px;
}

/* Set a style for all buttons */
button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d8bfd8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.form-container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

button:hover {
  transform: scale(0.98);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #800080; /* Purple color */
  color: #fff; /* White text color */
}

tr:nth-child(even) {
  background-color: #fff; /* White color for even rows */
}

tr:nth-child(odd) {
  background-color: #800080; /* Purple color for odd rows */
  color: #fff; /* White text color for odd rows */
}
