body {
  margin: 0;
  background:rgb(167, 164, 168) ;
  overflow: hidden; }

.tinderCards {
  width: 600px;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 150px 200px;
}

.tinderCards__cardContainer {
  /* display: flex; */
  justify-content: center;
}

.swipe {
  transform-style: preserve-3d;
}

.card {
  background: rgb(201, 172, 212);
  border-radius: 5px;
  box-shadow: 0px 3px 3px 1px rgb(42, 7, 56);
  width: 1400px;
  height: 800px;
  position: absolute;
  cursor: grab;
  display: flex;
  justify-content: space-between;
}


.swipe.swipeRight .card {
  transform: translateX(150%) rotate(30deg);
  z-index: 3;
}

.swipe.swipeLeft .card {
  transform: translateX(-150%) rotate(-30deg);
  z-index: 3;
}

.image-card {
  flex: 1;
  width: 30%;
  height: 70%;
  background-size: cover;
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
}

.info-container {
  flex: 2;
  background: rgb(191, 143, 223);
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}
/* 
.info h1,
.info h2,
.info h3 {
  margin: 0;
  color: rgb(0, 0, 0);
} */

.info-container p {
  margin: 10px 0;
}

/* 
.image-card {
  width: 30%;
  height: 70%;
  background-size: cover;
  background-position: center;
}

.info-container {
  position: absolute;
  bottom: 0;
  background-color: brown;
  width: 70%;
  height: 100%;  
}
.info {
  padding: 20px;
}

.info h1 {
  font-size: 2rem;
}  

.info h2 {
  font-size: 1.5rem;
} */