
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(185, 153, 216);
}

.onboarding-card {
  width: 500px;
  background-color: rgb(201, 201, 224);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContent {
  margin-bottom: 20px;
}

.TextField {
  width: 100%;
  margin-bottom: 15px;
}

.FormControl {
  width: 100%;
  margin-bottom: 15px;
}

.Button {
  width: 100%;
}
